.container {
    max-width: 1000px;
    margin: 30px auto;
    align-self: center;
}

.filters {
    display:flex;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 4px;
    height: 70px;
    width: 100%;

}
.locations {
    display: flex;
}
.amenities {
    display: flex;
}
.search-button {
    display: flex;
}
